@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu, #cssmenu ul li a, #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
@media (min-width: 769px){
    #cssmenu {
        margin: auto;
        position: relative;
        z-index: 101;
}
}
@media (max-width: 768px){
    #cssmenu{
        margin-top:5px;
    }
}
#cssmenu > ul{padding:  0px;vertical-align: middle;margin-bottom: 0px;text-align: left;list-style: none;}
#cssmenu > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 16px 12px;
    font-size: 15px;
	font-weight:bold;
    color: #616262;
    white-space: nowrap;
    transition:ease-in 0.4s;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'mavenpro';
    position: relative;
}
#cssmenu > ul > li:last-child > a{/* border-right: solid 1.5px #00aeef; */}
#cssmenu > ul > li > a img{vertical-align: middle;}
#cssmenu ul li a:hover {
    /* transition:ease-in 0.4s; */
}
#cssmenu ul li .icons:hover{
    background: transparent;
}


#cssmenu > ul > li:hover > a {color: #efa7b3;}

#cssmenu ul li .active{
    text-decoration: none;
    color: #efa7b3;
}
#cssmenu ul li:first-child a{}
/*#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}*/
#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    width: 250px;
    background: white;
    padding: 10px 0px;
    list-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu ul ul li {
    background: none;
    width:100%;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
}
#cssmenu li:hover > ul > li {
    min-height: 35px;

}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
    right: auto !important;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li a {
    padding: 7px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    display: block;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: solid 1px;
}
#cssmenu ul ul li:hover {background-color:pink;}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border: none;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: white;
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}
#cssmenu.small-screen {
    width: 100%;
    background: #015fca;
}
#cssmenu.small-screen ul {
    width: 100%;
    display: none;
    /*background: rgba(255, 255, 255, 1);*/
    text-align: left;
}
#cssmenu.small-screen.align-center > ul {
    text-align: left;
}
#cssmenu.small-screen ul li {
    width: 100%;
    border-top: 1px solid #fff;
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
    height: auto;
    transition: 0.4s;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
    width: 100%;
    border-bottom: 0;
}
#cssmenu.small-screen > ul > li {
    float: none;
}

#cssmenu.small-screen > ul > li.active{
    background: none;
}

#cssmenu.small-screen > ul > li:hover{
    background: none;
}


#cssmenu.small-screen ul ul li a {
    padding-left: 25px;
}
#cssmenu.small-screen ul ul ul li a {
    padding-left: 35px;
}
#cssmenu.small-screen ul ul li a {
    color: #FFF;
    background: none;
}
#cssmenu.small-screen ul ul li:hover > a,
#cssmenu.small-screen ul ul li.active > a {
    color: #F9F306;
}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
    display: none;
}


#cssmenu.small-screen #menu-button {
    display: block;
    padding: 0px 10px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}
#cssmenu.small-screen #menu-button:after {
    position: absolute;
    top: 20px;
    left: 60px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: ' ';
}
#cssmenu.small-screen #menu-button:before {
    position: absolute;
    top: 14px;
    left: 60px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';
}
#cssmenu.small-screen #menu-button.menu-opened:after {
    top: 20px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cssmenu.small-screen #menu-button.menu-opened:before {
    top: 20px;
    background: #fff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#cssmenu.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
    background: #c50c08;
}
#cssmenu.small-screen ul ul .submenu-button {
    height: 34px;
    width: 34px;
}
#cssmenu.small-screen .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 13px;
    width: 14px;
    height: 1px;
    display: block;
    background: #ffffff;
    content: '';
}
#cssmenu.small-screen ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:after {
    background: #ffffff;
}
#cssmenu.small-screen .submenu-button:before {
    position: absolute;
    top: 16px;
    right: 19px;
    display: block;
    width: 1px;
    height: 14px;
    background: #FFFFFF;
    content: '';
}
#cssmenu.small-screen ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:before {
    display: none;
}
#cssmenu.small-screen.select-list {
    padding: 5px;
}
.menu-first{ margin-left:30px !important;}
.line{ background: url(../../images/line.png) no-repeat center; width:2px;height: 40px;}
@media (max-width: 1024px){
    #cssmenu > ul > li > a{
        padding: 24px 6px;
        font-size: 13px;
    }
}
@media (max-width: 768px){

    #cssmenu > ul > li > a {
    color: #fff;
    line-height: 25px;
    padding: 8px 12px;
    }
    #cssmenu ul li .active, #cssmenu ul li a:hover{
      background: none;
    }
}