@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'uvn_mua_thuregular';
    src: url('../font/uvn_mua_thu/uvn_mua_thu.woff2') format('woff2'),
         url('../font/uvn_mua_thu/uvn_mua_thu.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'utm_aptimabold';
    src: url('../font/utm_aptimabold/utm_aptimabold.woff2') format('woff2'),
         url('../font/utm_aptimabold/utm_aptimabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular/opensans-regular.woff2') format('woff2'),
         url('../font/opensans-regular/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans-light/opensans-light.woff2') format('woff2'),
         url('../font/opensans-light/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold/opensans-bold.woff2') format('woff2'),
         url('../font/opensans-bold/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "fontavo";
    src: url("../font/fontavo/utm-avo.eot");
    src: url("../font/fontavo/utm-avo.eot#iefix") format("embedded-opentype"),
        url("../font/fontavo/utm-avo.woff") format("woff"),
        url("../font/fontavo/utm-avo.ttf") format("truetype"),
        url("../font/fontavo/utm-avo.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular/roboto-regular.eot');
    src: url('../font/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular/roboto-regular.woff2') format('woff2'),
         url('../font/roboto-regular/roboto-regular.woff') format('woff'),
         url('../font/roboto-regular/roboto-regular.ttf') format('truetype'),
         url('../font/roboto-regular/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotocondensed';
    src: url('../font/robotocondensed/robotocondensed-regular.eot');
    src: url('../font/robotocondensed/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/robotocondensed/robotocondensed-regular.woff') format('woff'),
         url('../font/robotocondensed/robotocondensed-regular.ttf') format('truetype'),
         url('../font/robotocondensed/robotocondensed-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold/roboto-bold.eot');
    src: url('../font/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold/roboto-bold.woff2') format('woff2'),
         url('../font/roboto-bold/roboto-bold.woff') format('woff'),
         url('../font/roboto-bold/roboto-bold.ttf') format('truetype'),
         url('../font/roboto-bold/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light/roboto-light.eot');
    src: url('../font/roboto-light/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-light/roboto-light.woff2') format('woff2'),
         url('../font/roboto-light/roboto-light.woff') format('woff'),
         url('../font/roboto-light/roboto-light.ttf') format('truetype'),
         url('../font/roboto-light/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "fontavobold";
	src: url("../font/fontavobold/utm-avobold.eot");
	src: url("../font/fontavobold/utm-avobold.eot#iefix") format("embedded-opentype"),
	url("../font/fontavobold/utm-avobold.woff") format("woff"),
	url("../font/fontavobold/utm-avobold.ttf") format("truetype"),
	url("../font/fontavobold/utm-avobold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../font/roboto_condensedregular/robotocondensed-regular.eot');
    src: url('../font/roboto_condensedregular/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto_condensedregular/robotocondensed-regular.woff2') format('woff2'),
         url('../font/roboto_condensedregular/robotocondensed-regular.woff') format('woff'),
         url('../font/roboto_condensedregular/robotocondensed-regular.ttf') format('truetype'),
         url('../font/roboto_condensedregular/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uvf_aphrodite_proregular';
    src: url('../font/uvf_aphrodite_pro/uvf_aphrodite_pro.woff2') format('woff2'),
         url('../font/uvf_aphrodite_pro/uvf_aphrodite_pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uvf_mussica_swashregular';
    src: url('../font/uvf_mussicaswash/uvf_mussicaswash.woff2') format('woff2'),
         url('../font/uvf_mussicaswash/uvf_mussicaswash.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slabregular';
    src: url('../font/robotoslab-regular/robotoslab-regular.woff2') format('woff2'),
         url('../font/robotoslab-regular/robotoslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../font/robotoslab-bold/robotoslab-bold.woff2') format('woff2'),
         url('../font/robotoslab-bold/robotoslab-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../font/robotocondensed-bold/robotocondensed-bold.woff2') format('woff2'),
         url('../font/robotocondensed-bold/robotocondensed-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sfu_futuraregular';
    src: url('../font/sfufuturaregular/sfufuturaregular.woff2') format('woff2'),
         url('../font/sfufuturaregular/sfufuturaregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'utm_wedding_ktregular';
    src: url('../font/utm_wedding_kt/utm_wedding_kt.woff2') format('woff2'),
         url('../font/utm_wedding_kt/utm_wedding_kt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hp076italic';
    src: url('../font/HP-076Italic/HP-076Italic.eot');
    src: url('../font/HP-076Italic/HP-076Italic.woff') format('woff'),
         url('../font/HP-076Italic/HP-076Italic.ttf') format('truetype'),
         url('../font/HP-076Italic/HP-076Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mavenpro';
    src: url('../font/MavenPro-Regular/MavenPro-Regular.eot');
    src: url('../font/MavenPro-Regular/MavenPro-Regular.woff') format('woff'),
         url('../font/MavenPro-Regular/MavenPro-Regular.ttf') format('truetype'),
         url('../font/MavenPro-Regular/MavenPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}